
img{
    max-width: 100%;
    box-sizing: border-box;
}

header{
    font-family: YuGothic,'Yu Gothic',sans-serif;

    .header{
        width: 1152px;
        margin: 0 auto;
        display: flex;
        @include sp_screen{
            width: 100%;
        }

        .header_list{
            width: 30%;
            display: flex;
            justify-content: space-between; 
            margin: 5% 0 5% auto;
            @include sp_screen{
                display: none;
            }
        }
    }

    #navi{
        display: block;
        position: fixed;
        height: 100%;
        right: 0;
        top: -100%;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 35%;
        color: black;
        background-color: rgba(248, 248, 248, 0.904);
        transition: all 0.8s ease;
        z-index: 20;
        opacity: 0;
        @include pc_screen{
            display: none;
        }

        .nav_menu{
            margin: 15% auto;
            text-align: center;

            li{
                margin: 10%;

                a{
                    color: black;
                    text-decoration: none;
                    text-align: center;
                    font-size: 30px;
                    @include sp_screen{
                        font-size: 4vw;
                    }
                }
            }
        }
    }

    .toggle_btn{
        display: block;
        position: fixed;
        top: 50px;
        right: 45px;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
        cursor: pointer;
        z-index: 20;
        @include pc_screen{
            display: none;
        }

        span{
            display: block;
            position: absolute;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: black;
            border-radius: 4px;
            transition: all 0.5s;

            &:nth-child(1){
                top: 4px;
            }

            &:nth-child(2){
                top: 14px;
            }

            &:nth-child(3){
                bottom: 4px;
            }
        }
    }
}

.open #navi{
    top: 0;
    opacity: 1;
}

.open .toggle_btn span{
    background-color: black;

    &:nth-child(1){
        -webkit-transform: translateY(10px) rotate(-315deg);
        transform: translateY(10px) rotate(-315deg);
    }

    &:nth-child(2){
        opacity: 0;
    }

    &:nth-child(3){
        -webkit-transform: translateY(-10px) rotate(315deg);
        transform: translateY(-10px) rotate(315deg);
    }
}

main{
    width: 1152px;
    margin: 0 auto;
    @include sp_screen{
        width: 100%;
    }


    .main_visual{
        margin: 0 auto;
        position: relative;
            
        .slide-img{
                    
            .img_php{
                width: 1024px;
                height: 448px;
                margin: 0 auto;
                @include sp_screen{
                    display: none;
                }
            }

            .spimg_php{
                @include pc_screen{
                    display: none;
                }
            }
        }

        .logo_img{
            position: absolute;
            top: -25%;
            left: 0;
            z-index: 2;
            @include sp_screen{
                position: initial;
                display: block;
                margin: 5% auto;
                width: 25%;
            }
        }

        .text_img{
            position: absolute;
            right: 0;
            bottom: -11%;
            z-index: 1;
            @include sp_screen{
                width: 62.5%;
                top: 35%;
                left: 5%;
            }

            .pc{
                display: block !important;
                @include sp_screen{
                    display: none !important;
                }
            }
            
            .sp{
                display: none !important;
                @include sp_screen{
                    display: block !important;
                }
            }
        }
    }

    .visual_text{
        font-family: YuGothic,'Yu Gothic',sans-serif;
        font-size: 20px;
        margin: 2% auto 0 auto;
        font-weight: lighter;
        @include sp_screen{
            text-align: center;
            font-size: 3.75vw;
        }

        .inner_text{

            .wrap_text{
                @include sp_screen{
                    display: block;
                    margin: 2%;
                }        
            }
        }  
    }

}