main{
    font-family:  YuGothic,'Yu Gothic',sans-serif;
}



img{
    max-width: 100%;
}

#title{
    text-align: center;
    padding-top: 7%;
    font-size: 25px;
    @include sp_screen{
        padding-top: 3%;
    }
}
.text-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 1152px;
    padding-bottom: 50px;
    margin: 0 auto;
    @include sp_screen{
        flex-direction: column;
        width: 85%;
        margin: 0 auto;
    }

    .content{
        margin: 5% auto;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        transition: all .3s;
        cursor: pointer;
        @include sp_screen{
            width: 100%;
            height: auto;
            padding: 0px;
        }

        img{
            width: 100%;
            @include sp_screen{
                height: auto;
                width: 100%;
            }
        }   

        .content_text{
            padding: 5%;


            time{
                display: block;
            }
        
            .btn{
                display: flex;
                justify-content: flex-end;
                
               a{
                    text-decoration: none;
                    font-size: 13px;
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    padding-bottom: 3%;
                    margin-top: 15%;
                    margin-bottom: 5%;

                }
               a::after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #333;
                    transform: scale(0.2, 1);
                    transform-origin: right top;
                    transition: transform 0.3s ;
                }
              
            }
        
            p{
                padding: 3% 0;
                height: 50px;
            }

        }

        &:hover .content_text a::after{
            transform: scale(1, 1);
        }
    }
}

.content:hover{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.btn.loadMoreBtn {
    color: #333333;
    text-align: center;
}

.btn.loadMoreBtn:hover {
    text-decoration: none;
}

.alm-listing .alm-reveal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    height: auto;
    outline: none;
}

#ajax-load-more{
    width: 100%;
}